<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="", method="post">
        <p>Enter coeff of d/dx:</p>
        <input type="text" name="ddx" id="">
        <p>Enter coeff of y</p>
        <input type="text" name="c_y" id="">
        <p>Enter constant:</p>
        <input type="text" name="const" id="">
        <p></p>
        <input type="submit" value="submit">
    </form>
</body>
</html>