<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Solution </title>
</head>
<body>
    <h3>Entered equation:</h3>
    <img style="width: 800px;" src="{{url_for('static', filename='equation.png')}}" alt="equation" > 
    <h3>Solution:</h3>
    <img style="width: 800px;" src="{{url_for('static', filename='solve.png')}}" alt="solve"> 
    <h1>Return to main page: </h1>
    <h2><a href="{{url_for('home')}}">Click Here</a></h2>
    
</body>
</html>